.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
.assets-cache
.docs-cache
.themes
_deploy
public
source/.asset-cache
source/_docs
source/json
source/_data
sass.old
source.old
source/_stash
source/images/docs
source/stylesheets/screen.css
node_modules
Gemfile.lock
.jekyll-metadata
.jekyll-cache
.env